<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Pending</h1>
            <ul type="none" class="pending-list">
                {{#each ads}}
                    {{#unless this.dataValues.active}}
                        {{> ads/ads-block active=true}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Active</h1>
            <ul type="none"> 
                {{#each ads}}
                    {{#if this.dataValues.active}}
                        {{> ads/ads-block active=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Archive</h1>
        </div>
    </div>
</div>