{{!-- <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Advertise your Business</h1>
        </div>
    </div>
    <h2>Business Details</h2>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessName" type="text" placeholder="Business Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessCategory" type="text" placeholder="Business Category">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessEmail" type="text" placeholder="Business Email">
        </div>
    </div>

    <h2>Product Details</h2>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodName" type="text" placeholder="Product Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodDesc" type="text" placeholder="Product Description">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control originalPrice" type="text" placeholder="Original Price">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control discount" type="text" placeholder="Discount offered">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <label for="exampleFormControlFile1">Product Image</label>
            <input type="file" class="form-control-file prod-image" id="exampleFormControlFile1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary submit-ad">Submit</button>
        </div>
    </div>
</div> --}}

  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navBar" >
      <div class="container">
          <a class="navbar-brand" href="/"><img
              src="./assets/images/download-removebg-preview.png"
              width="50"
              height="50"
              alt="businessIcon"
              loading="lazy"
            />BAP</a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
              data-target="#exCollapsingNavbar">
              &#9776;
          </button>
          <div class="collapse navbar-collapse" id="exCollapsingNavbar">
              <ul class="nav navbar-nav ">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/advertise" class="nav-link">Advertise</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link">Sign up/Sign in</a></li> -->
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Nav End-->

            <header>
                <div id="jumboTronAdvertise" class="jumbotron jumbotron-fluid" >
                    <div class="container">
                        <h1 class="display-4">Business Advertisement Portal</h1>
                        <p class="lead">Please enter your advertisement details!</p>
                </div>
                </div>
            </header>

            <article id="articleAdvertise">
              <div class="container">
              <div class="container-fluid" id="containerAdvertise">
                <h2 id="headerTwoAdvertise">Business Details</h2>
                <br><br>
                <form class="was-validated">
                    <div class="mb-3">
                      {{!-- <label for="validationTextarea">Business Name: </label> --}}
                      
                      <input type="text" placeholder="Business Name" class="form-control businessName is-invalid" id="validationTextarea"  ></input>
                      <div class="invalid-feedback">
                        Please enter a valid business name.
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                          
                        </div>
                        <input class="form-control businessCategory" type="text" placeholder="Business Category">
                      </div>
                      
                    </div>
                  <div class="mb-3">
                    <div class="input-group is-invalid">
                      <div class="input-group-prepend">
                        <span  class="input-group-text" id="validatedInputGroupPrepend">@</span>
                      </div>
                      <input type="text" class="form-control businessEmail is-invalid" placeholder="Johnsmith@abc.com" aria-describedby="validatedInputGroupPrepend" required>
                    </div>
                  </div>
                    <br>
                    <h2>Product Details</h2>
                    {{!-- <h2 id="headerTwoAdvertise">Product Details</h2> --}}
                    <div class="mb-3">
                      
                      {{!-- <label for="validationTextarea">Product Name: </label> --}}
                      <input class="form-control prodName is-invalid" id="validationTextarea" placeholder="Product Name" ></input>
                      
                    </div>
                    <div class="mb-3">
                      {{!-- <label for="validationTextarea">Product  Description:: </label> --}}
                      <input class="form-control prodDesc is-invalid" id="validationTextarea" placeholder="Brief Product Description" ></input>
                      {{!-- <div class="invalid-feedback">
                        Please enter a valid Product name.
                      </div> --}}
                    </div>
                    <div class="mb-3">
                      <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="validatedInputGroupSelect">$</label>
                        </div>
                        <input class="form-control originalPrice" type="text" placeholder="Original Price">
        
                      </div>
                    
                    </div>
                    <div class="mb-3">
                      <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="validatedInputGroupSelect">%</label>
                        </div>
                        <input class="form-control discount" type="text" placeholder="Percentage Discount Offered">
                      </div>
                      
                    </div>
                    {{!-- <div class="input-group is-invalid">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input prod-image" id="validatedInputGroupCustomFile" required>
                        <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose Image file...</label>
                      </div>
                      <div class="input-group-append prod-image">
                        <button class="btn btn-outline-secondary " type="button">Select</button>
                      </div>
                    </div>
                     --}}
                  </form>
                  {{!-- New Form needs to be created for image upload. It cannot be inside old form. --}}
                  <form
                    class="mt-4"
                    action="/api/images"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <div class="form-group">
                      <input
                        type="file"
                        name="file"
                        id="input-files"
                        class="form-control-file border prod-image"
                      />
                    </div>
  
                    {{!-- Submit button needs to be inside image upload form. Not the form with all other inputs --}}
                    <button
                    class="btn btn-primary  submit-ad"
                    type="submit"
                    id="submit-button"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Submit for admin review!"
                  ><span style="font-size:18px">Submit</span>
                    {{!-- <i class="far fa-check-circle"></i> --}}
                  </button>
                  </form>
                </div>
              </div>
            </article>


        {{!-- <footer 
            class="footer mt-4 py-3 container-fluid text-white bg-secondary text-center fixed-bottom"
            id="footerContact">
            <div class="row">
                <div class="col-md">
                    <small>Copyright &copy; #'s Website 2020</small>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="github-link" href="https://github.com/amankmr4"><i class="fab fa-github"></i>Aman
                                Kumar</a>
                            <a class="github-link" href="https://github.com/felipesqf"><i class="fab fa-github"></i>Felipe
                                Ferreira</a>
                            <a class="github-link" href="https://github.com/Michaelmw17"><i
                                    class="fab fa-github"></i>Michael Watt</a>
                            <a class="github-link" href="https://github.com/prabhm512"><i class="fab fa-github"></i>Prabh Singh
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer> --}}
  