<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Advertise your Business</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodName" type="text" placeholder="Product Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodDesc" type="text" placeholder="Product Description">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control marketPrice" type="text" placeholder="Market Price">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control offeredPrice" type="text" placeholder="Your Price">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <label for="exampleFormControlFile1">Product Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary submit-ad">Submit</button>
        </div>
    </div>
</div>