<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Advertise your Business</h1>
        </div>
    </div>
    <h2>Business Details</h2>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessName" type="text" placeholder="Business Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessCategory" type="text" placeholder="Business Category">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control businessEmail" type="text" placeholder="Business Email">
        </div>
    </div>
    <h2>Product Details</h2>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodName" type="text" placeholder="Product Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control prodDesc" type="text" placeholder="Product Description">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control originalPrice" type="text" placeholder="Original Price">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input class="form-control discount" type="text" placeholder="Discount offered">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <label for="exampleFormControlFile1">Product Image</label>
            <input type="file" class="form-control-file prod-image" id="exampleFormControlFile1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary submit-ad">Submit</button>
        </div>
    </div>
</div>