* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    background: linear-gradient(-45deg, #58fbd5, #58fbd5, #31bff2, #38f1c6);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
    
}
#amain a, #amain a:hover{
  color: black;
  display: block;
  text-decoration: none;
} 

.submit-ad {
    font-size: 20px;
}
#myModal {
    position: absolute;
    top: 50%;
  }

#navBar {
    opacity: 85%;
}

/* .mb-3{
    width: 500px;
} */
#articleAdvertise{
padding: 20px;
}

#jumboTron {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
    padding: 45px;
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    
}
#jumboTronIndex {
    padding-top: 60px;
}
#jumboTronAdvertise, #contactJumboTron, #aboutJumboTron {
    font-weight: bolder;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    color: white;
    text-align: center;
}

#mainImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    
}

.lead {
    text-align: center;
    font-size: 23px;
    color: white;
}

#secondTitleMain { 
    background-color: grey;
    font-size: 20px;
}
/* secondTitle  */
#footerContact {
    bottom: 0;
    background-color: rgb(98, 98, 98);
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}
#submit-button {
        padding: 7px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        color: #494949 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        display: inline-block;
        transition: all 0.4s ease 0s;
}
.display-4 {
    padding-top: 70px;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}
#display-4-header {
    padding-top: 10px;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}
#detailsPara{
    padding-top: 10px;
    color: white;
}
#containerAdvertise {
    text-align: center;
    padding-bottom: 50px;
}
#headerTwoAdvertise {
    text-align: center;
    border-radius: 20px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
.invalid-feedback {
    font-size: 13px;
}
.card {
    width: 21.5em;
    margin:0 auto;
    text-align: center;
}
.mb-8{
    width: 42em; 
    margin-bottom: 20px ;
}

.admin-heading {
    font-size: 40px;
    color: white;
    margin: auto;
}

.admin-options li {
    color: white;
}

.pending-list {
    list-style-position: inside;
}

.pending-list li {
    margin-top: 5px;
}

.approve {
    margin-left: 20px;
}

.reject {
    margin-left: 10px;
}

/* Card styling */
.originalPriceCardRender {
    text-decoration: line-through;
    font-size: 22px;
}

.discountedPrice {
    background-color: green;
    color: white;
    font-size: 22px;
}

.product-details {
    font-size: 20px;
}

.description {
    font-size: 16px;
}

#advertisementDetails {
    padding-top: 25px;
    text-align: center;
    border-radius: 20px;
    font-weight: bolder;
}

.github-link {
  color: black;
}

.github-link:hover {
  color: rgb(53, 111, 246);
}
#submit-button:hover {
  cursor: pointer;
  color: red;
  background-color: rgb(21, 255, 0);
}
#whoWeSupport {
   font-size: 30px;
   color:yellow;
   border-radius: 20px;
}
#business-img{
    border-radius: 20px;
}
#categorySelect {
    width: 50%;
    
}
#cardholder {
    padding-top: 20px;
}
#aboutUs, #aboutUsTwo {
    font-weight: bolder;
    color: #494949;
}



@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
    #input-fields {
    width: 250px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;       
    }

@media screen and (max-width: 768px){
    .mb-8{
        width: 21em; 
    }
}
@media screen and (max-width: 468px){
    .mb-8{
        width: 14em; 
    }

<<<<<<< HEAD
}
=======
}
>>>>>>> 74f6bf44bc76dfb1654b3620490b6806caf44b8e
