* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Alegreya Sans', sans-serif;
    background: linear-gradient(0.25turn, rgb(142, 142, 238), rgba(116, 171, 243, 0.507), #4db9eb4d);
    font-size: large;
}
.submit-ad {
    margin-top: 10px;
    float: right;
}

#navBar {
    opacity: 85%;
}

.display-4 { 
    padding-top: 30px;
}
#articleAdvertise{
padding: 20px;
}
/* #containerAdvertise {
    background: wheat;
    border-radius: 15px;
    
} */

#footerContact {
    position: relative; 
    clear:both;
    padding-top:20px;
}
#jumboTronIndex {
    padding-top: 60px;
}
#jumboTronAdvertise {
    font-weight: bolder;
    background-color: rgb(113, 226, 113)
}
#mainImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    
}
#secondTitleMain { 
    background-color: grey;
    
     font-size: 20px;
}
/* secondTitle  */
#footerContact {
    position: relative; 
    clear:both; 
    padding-top:20px;
}
#submit-button {
   
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.display-4 {
    padding-top: 60px;
    font-weight: bolder;
}
#containerAdvertise {
    text-align: center;
    padding-bottom: 60px;
}
#headerTwoAdvertise {
    text-align: center;
    border-radius: 20px;
    display: inline;
    
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
.invalid-feedback {

    font-size: 13px;
}
.card {
    width: 21.5em;margin:0 auto;
    text-align: center;
}

.admin-heading {
    font-size: 40px;
    color: white;
    margin: auto;
}

.admin-options li {
    color: white;
}

.pending-list {
    list-style-position: inside;
}

.pending-list li {
    margin-top: 5px;
}

.approve {
    margin-left: 20px;
}

.reject {
    margin-left: 10px;
}

/* Card styling */
.originalPriceCardRender {
    text-decoration: line-through;
    font-size: 22px;
}

.discountedPrice {
    background-color: green;
    color: white;
    font-size: 22px;
}

.product-details {
    font-size: 20px;
}

.description {
    font-size: 16px;
}

