* {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(0.25turn, #3f89a8ec, #deebd4, #b5d4b4);
}
.submit-ad {
    margin-top: 10px;
    float: right;
}
.waiting-list {
    list-style-position: inside;
    border: 1px solid black;
}
